body {
  background-image: url('./country-quilt.png') 
}

.grid {
  width: 454px;
  margin: auto;
  margin-top: 20px;
}

.box {
  display: inline-block;       
  border: 1px solid black;
  width: 149px;
  height: 149px;
  background-color: lightgray;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 149px;
} 
.highlight {
  color:green;
}

h1 {
  margin:auto;
  text-align: center;
  padding:20px
}

.button-container {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.gameState-display {
  text-align: center;
  padding-top: 1rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size:50px;
}
